<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HomePage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>

    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-default">
            <div id="main-menu" class="main-menu">
                <ul class="nav navbar-nav">
                    <li class="menu-title">For team</li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="OverView.html">Overview</a>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="Chatroom.html">Chatroom</a>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="Schedule.html">Schedule</a>
                    </li>

                    <li class="menu-title">For you</li><!-- /.menu-title -->

                    <li class="menu-item-has-children dropdown">
                        <a href="HomePage.html">HomePage</a>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="Task.html">Tasks</a>
                    </li>
                    <li>
                        <a href="Profile.html">Profile</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->
    <!-- Left Panel -->

    <!-- right Panel-->
    <!-- Header-->
    <div id="right-panel" class="right-panel">

        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <p>TEAM++</p>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="user-area float-right">
                        <a href="Login.html" class="dropdown-toggle active">
                            <img class="user-avatar rounded-circle" src="img/sample.png" alt="User Avatar">
                        </a>
                    </div>
                </div>
            </div>
        </header><!-- /header -->
        <!-- Header-->

        <div class="content">
            <!--add your code here:) feel free to add your own .css file-->

            <!--overall info-->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-1">
                                    <span class="ti-user"></span>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">36</span></div>
                                        <div class="stat-heading">teammates</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-2">
                                    <span class="ti-hummer"></span>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">15</span></div>
                                        <div class="stat-heading">undo tasks</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-3">
                                    <span class="ti-timer"></span>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">2</span></div>
                                        <div class="stat-heading">dues tomorrow</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-4">
                                    <span class="ti-alarm-clock"></span>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">72</span></div>
                                        <div class="stat-heading">before overall deadline</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--  Team Management  -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="box-title">Team Management </h4>
                            <p>manage your team and team member here</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="card-body">
                                    <button style="width: 100%; padding: 5px " class="btn btn-success btn-lg btn-block"
                                        type="button" onclick="createTeam()">Create Team</button>
                                    <button style="width: 100%; padding: 5px " class="btn btn-success btn-lg btn-block"
                                        type="button" onclick="modifyAdmin()">Modify Admin</button>
                                    <button style="width: 100%; padding: 5px" class="btn btn-success btn-lg btn-block"
                                        type="button" onclick="addMember()">Add Member</button>
                                    <button style="width: 100%; padding: 5px" class="btn btn-success btn-lg btn-block"
                                        type="button" onclick="joinTeam()">Join Team</button>
                                    <button style="width: 100%; padding: 5px " class="btn btn-success btn-lg btn-block"
                                        type="button" onclick="removeMember()">Delete Member</button>
                                    <button style="width: 100%; padding: 5px" class="btn btn-success btn-lg btn-block"
                                        type="button" onclick="leaveTeam()">Leave Team</button>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="card-body">
                                    <p>here is some brief introduction about your team, including the number of team
                                        member, what is your goal and some other infomation that can help you to get an
                                        impression of what's your team gonna do.</p>
                                    <p>Apart from that, there should be some plan you would like to remind yourself.</p>
                                    <p>In fact, I just do not know what to push here. Let's leave this part to our
                                        software engineer.</p>
                                    <textarea name="Team Members" id="members"></textarea>
                                </div> <!-- /.card-body -->
                            </div>
                        </div> <!-- /.row -->
                        <div class="card-body"></div>
                    </div>
                </div><!-- /# column -->
            </div>
            <!--  Team Management  End -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="box-title">Post Announcement </h4>
                            <p>convey important info here:)</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card-body">
                                    <button style="width: 20%; padding: 5px" class="btn btn-success btn-lg btn-block"
                                        type="button">Post</button>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="card-body">
                                    <p>here is announcement in the past.</p>
                                </div> <!-- /.card-body -->
                            </div>
                        </div> <!-- /.row -->
                        <div class="card-body"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="box-title">Poll </h4>
                            <p>let us vote for decision!</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card-body">
                                    <button style="width: 20%; padding: 5px" class="btn btn-success btn-lg btn-block"
                                        type="button">create poll</button>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="card-body">
                                    <p>pollint ongoing.</p>
                                </div> <!-- /.card-body -->
                            </div>
                            <div class="col-lg-9">
                                <div class="card-body">
                                    <p>pollint in the past.</p>
                                </div> <!-- /.card-body -->
                            </div>
                        </div> <!-- /.row -->
                        <div class="card-body"></div>
                    </div>
                </div>
            </div>




        </div>
        <!--content End-->
    </div>
    <!--Right panel end-->
    <script src="script.js"></script>
</body>

</html>