html, body {
	height: 100%;
}

.header {
    padding: 80px;
    text-align: center;
    background-image: url(img/world-map.jpg);
    background-size: cover;
    background-position: center; 
    color: white;
}

.header h1 {
    font-size: 40px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 7px 10px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

/*add team logo in the future*/
.footer {
    padding: 5px;
    text-align: right;
    background: #ddd;
}