body{
    background: aliceblue;
}

table{
    padding: 30px;
    border-spacing: 50px;
    border-collapse: separate;
}

input{
    border: none;
    background: transparent;
}

.container img{
    margin: 25px;
    background: transparent;
    display: block;
}

.addBtn{
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.addBtn input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
